<h1>Jobs#edit</h1>
<p>Find me in app/views/jobs/edit.html.erb</p>

<% if @job.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@boat.errors.count, "error") %> prohibited
        this boat from being saved:
      </h2>
      <ul>
        <% @job.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for @job do |f| %>
  <h4> Job </h4>
  <%= f.text_area :description, :minlength => 50%>
  <h4> Origin </h4>
  <%= f.text_field :origin%>
  <h4> Destination </h4>
  <%= f.text_field :destination%>
  <h4> Cost </h4>
  <%= f.number_field :cost, :min => 1000%>
  <h4> Containers </h4>
  <%= f.number_field :containers%>
  <h4> Boats Available For Job </h4>
  <%= collection_check_boxes(:job, :boat_ids, Boat.all, :id, :name)%>
  <br>
  <%= f.submit %>
<% end %>
