
<h1>New Job 📦</h1>


<% if @job.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@job.errors.count, "error") %> prohibited
        this boat from being saved:
      </h2>
      <ul>
        <% @job.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for @job do |f| %>
  <h4> Job </h4>
  <%= f.text_area :description, :minlength => 50%>
  <h4> Origin </h4>
  <%= f.select :origin, ['Philadelphia', 'New York', 'Boston', 'Miami', 'Portland']%>
  <h4> Destination </h4>
  <%= f.select :destination, ['Philadelphia', 'New York', 'Boston', 'Miami', 'Portland']%>
  <h4> Cost </h4>
  <%= f.number_field :cost, :min => 1000%>
  <h4> Containers </h4>
  <%= f.number_field :containers%>
  <%= f.submit %>
<% end %>
