<h1>Jobs#new</h1>
<p>Find me in app/views/jobs/new.html.erb</p>

<%= form_for @job do |f| %>
  <h4> Job </h4>
  <%= f.text_area :description%>
  <h4> Origin </h4>
  <%= f.select :origin, ['Philadelphia', 'New York', 'Boston', 'Miami', 'Portland']%>
  <h4> Destination </h4>
  <%= f.select :destination, ['Philadelphia', 'New York', 'Boston', 'Miami', 'Portland']%>
  <h4> Cost </h4>
  <%= f.text_field :cost%>
  <h4> Containers </h4>
  <%= f.text_field :containers%>
  <%= f.submit %>
<% end %>
