<h1>Jobs#show</h1>

<h4>Containers Needed for This Job:</h4>
<%= @job.containers %>

<h4>Add a Boat to this Job:</h4>
<%= render 'form' %>

<h3>Job Description</h3>
<%= @job.description %>
<br>
<h3>Job Origin</h3>
<%= @job.origin %>
<br>
<h3>Job Destination</h3>
<%= @job.destination %>
<br>
<h3>Job Origin</h3>
<%= @job.origin %>
<br>
<h3>Job Cost</h3>
<%= @job.cost %>
<br>
<h3>Job Containers</h3>
<%= @job.containers %>

<% if current_user.id == @job.user_id %>
<%= link_to 'Edit', edit_job_path(@job) %>
<%= link_to 'Delete', job_path(@job),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
<% end %>
