<h1>Jobs#show</h1>
<p>Find me in app/views/jobs/show.html.erb</p>

<h3>Job Description</h3>
<%= @job.description %>
<br>
<h3>Job Origin</h3>
<%= @job.origin %>
<br>
<h3>Job Destination</h3>
<%= @job.destination %>
<br>
<h3>Job Origin</h3>
<%= @job.origin %>
<br>
<h3>Job Cost</h3>
<%= @job.cost %>
<br>
<h3>Job Containers</h3>
<%= @job.containers %>

<% if current_user.id == @job.user_id %>
<%= link_to 'Edit', edit_job_path(@job) %>
<%= link_to 'Delete', job_path(@job),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
<% end %>
