<h1>This Job 📦</h1>

<h4>Containers Needed for This Job 📦:</h4>
<%= @job.containers %>

<h4>Boats on this Job</h4>
  <ul>
    <% @job.boats.each do |boat| %>
      <li> <%= boat.name %> will supply <%= boat.containers %> containers</li>
    <% end %>
  </ul>
  <% @jobcontainers = @job.containers %>
  <% @all = 0; %>
  <% @job.boats.each do |boat| %>
    <% @all = @all + boat.containers %>
  <% end %>
  <% @containers_needed = @jobcontainers - @all %>

  <p> Total Boat Containers: </p>
  <%= @all %>
  <p> Containers Still Needed: </p>
  <% if @containers_needed < 0 %>
  <p> 0 </p>
  <% else %>
  <%= @containers_needed %>
  <% end %>

  <h3>Job Status: </h3>
  <% if @containers_needed < 0 %>
  <p> Completed ✅ </p>
  <% else %>
  <p> Boats Still Needed ⛵ </p>
  <% end %>


<h3>Job Description</h3>
<%= @job.description %>
<br>
<h3>Job Origin</h3>
<%= @job.origin %>
<br>
<h3>Job Destination</h3>
<%= @job.destination %>
<br>
<h3>Job Cost</h3>
<%= @job.cost %> 💰
<br>

<% if @containers_needed > 0 %>
<!-- if the boats have enough containers for the job, you can't add any more boats -->
<%= link_to 'Add a Boat', edit_job_path(@job) %>
<% end %>
<% if current_user.id == @job.user_id %>
<%= link_to 'Delete', job_path(@job),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
<% end %>
