<h1>Boats#edit</h1>

<% if @boat.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@boat.errors.count, "error") %> prohibited
        this boat from being saved:
      </h2>
      <ul>
        <% @boat.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<%= form_for @boat do |f| %>
<h4> Name </h4>
<%= f.text_field :name %>
<h4> Location </h4>
<%= f.select :location, ['Philadelphia', 'New York', 'Boston', 'Miami', 'Portland']%>
<h4> Containers Available </h4>
<%= f.number_field :containers %>
<h4> Boat Avatar </h4>
<%= f.file_field :avatar %>
<br>
<%= f.submit %>
<% end %>
