<h1>Boats#index</h1>

<% if @boats.empty? %>
  <p> No boats yet </p>
  <% end %>


<% @boats.each do |boat| %>
<ul>
  <%= boat.name %>
  <%= boat.location %>
  <%= boat.containers %>
  <%= image_tag boat.avatar.url(:thumb) %>
  <%= link_to 'See', boat_path(boat) %>
<% if current_user.id == boat.user_id %>
<%= link_to 'Edit', edit_boat_path(boat) %>
<%= link_to 'Delete', boat_path(boat),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
<% end %>
</ul>
<% end %>

<%= link_to 'New Boat', boats_new_path%>
