<h1>This Boat</h1>

<h3>Name:</h3>
<i><%= @boat.name %></i>
<h3>Location:</h3>
<i><%= @boat.location%></i>
<h3>Number of Available Containers:</h3>
<i><%= @boat.containers%></i>
<br>
<%= image_tag @boat.avatar.url(:medium) %>

<h4>Jobs:</h4>
<% if @boat.jobs.empty? %>
<h3>No Jobs Yet</h3>
<% end %>
  <ul>
    <% @boat.jobs.each do |job| %>
      <li> <%= link_to job.created_at, job_path(job) %></li>
    <% end %>
  </ul>


<% if current_user.id == @boat.user_id %>
<%= link_to 'Edit', edit_boat_path(@boat) %>
<%= link_to 'Delete', boat_path(@boat),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
<% end %>
