<!DOCTYPE html>
<html>
  <head>
    <title>RailsShipped</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if user_signed_in? %>
        <%= link_to 'Jobs', '/' %>
        <%= link_to 'Boats', '/boats' %>
        <%= link_to 'Logout', destroy_user_session_path,
          method: :delete, data: {confirm: 'are you sure??'}
         %>
       <% end %>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
